<div>
    <app-top-nav></app-top-nav>
</div>
<h2 class="text-center">TRANSACTION DETAILS</h2>

<div class="d-flex justify-content-center">
    <mat-card class="calib-card border border-radius shadow">
        <mat-card-title>Information</mat-card-title>
        <div class="line"></div>
        <mat-card-content>
            <p><b>ChainId</b>: {{chainId}}</p>
            <p><b>TxHash</b>: {{txHash}}</p>
            <p><b>Status</b>: {{status}}</p>
            <p *ngIf="status === 'failed'"><b>TxError</b>: {{txError}}</p>
            <p><b>Height</b>: {{height}}</p>
            <p><b>Time</b>: {{time}}</p>
            <p><b>Fee</b>: {{fee}}</p>
            <p><b>Gas (used/wanted)</b>: {{gasUsed}}/ {{gasWanted}}</p>
            <p><b>Memo</b>: {{memo}}</p>
        </mat-card-content>
    </mat-card>
</div>

<div class="d-flex justify-content-center">
    <mat-card class="calib-card border border-radius shadow">
        <mat-card-title>Messages</mat-card-title>
        <div class="line"></div>
        <mat-card-content>
            <p>Msgs: 
            <code class="msg-block">{{message}}</code>
        </mat-card-content>
    </mat-card>
</div>

