.table-title {
  font-family: FontAwesome;
  font-size: 22px;
}
.tx-table {
  width: 70%;
}

.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

.mat-tab-group .mat-tab-labels {
  display: flex;
  margin: 100px;
  justify-content: center;
}
