p {
  font-family: FontAwesome;
  text-align: justify;
  font-size:medium;
}

.calib-card {
  max-width: 450px;
  margin: 10px;
}

.line {
    border-bottom: 5px solid black;
    margin-top: 20px;
    width: 100%;
}

mat-card-title{
    font-size: 17px;
}
