<mat-toolbar color="primary"> <span>Calib Explorer</span>
    <div class="container">
        <div class="row">
            <div class="search-tx">
                <input class="form-control" type="text" name="search" autocomplete="off"
                    placeholder="&#61442;  Start searching for a transactions by address or hash">
            </div>
        </div>
    </div>
    <span class="spacer"></span>
    <ul>
        <li><a mat-button>Dashboard</a></li>
        <li><a mat-button>Transactions</a></li>
        <li><a mat-button>Blocks</a></li>
    </ul>

</mat-toolbar>