.mat-toolbar {
  background-color: cornflowerblue;
  color: white;
}
.mat-button {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  /* float: left; */
}

li a {
  /* display: block; */
  padding: 15px;
}
.spacer {
  flex: 1 1 auto;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-tx {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #b0c1d9;
}
.form-control::placeholder {
  font-family: FontAwesome;
}
